<div class="row mb-4">
  {% if project.img %}
    <div class="col col-sm-2 abbr">
      {% if project.abbr %}
        <abbr class="badge rounded w-100">{{ project.abbr }}</abbr>
      {% endif %}
      <img class="preview z-depth-1 rounded" src="{{ project.img | relative_url }}" alt="{{ project.title }}">
    </div>
  {% endif %}

  <div class="{% if project.img %}col-sm-8{% else %}col-sm-10{% endif %}">
    <!-- Title -->
    <div class="title">
      <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">{{ project.title }}</a>
    </div>

    <!-- Description -->
    {% if project.description %}
      <div class="description">{{ project.description }}</div>
    {% endif %}

    <!-- Links -->
    <div class="links">
      {% if project.github %}
        <a href="{{ project.github }}" class="btn btn-sm z-depth-0" role="button">Code</a>
      {% endif %}
      {% if project.pdf %}
        <a href="{{ project.pdf }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
      {% endif %}
      {% if project.website %}
        <a href="{{ project.website }}" class="btn btn-sm z-depth-0" role="button">Project</a>
      {% endif %}
    </div>

    <!-- Related Publications -->
    {% if project.related_publications %}
      <div class="publications mt-2">
        {% bibliography --cited_in_order %}
      </div>
    {% endif %}
  </div>

  <div class="col-sm-2"></div>
</div>
